@import "../fonts/font/stylesheet.css";
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  src: local("Gilroy"), url("../stylePagePromotion/fonts/font/Gilroy-Regular.woff2") format("woff2"), url("../stylePagePromotion/fonts/font/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: local("Gilroy"), url("../stylePagePromotion/fonts/font/Gilroy-Black.woff2") format("woff2"), url("../stylePagePromotion/fonts/font/Gilroy-Black.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: local("Gilroy"), url("../stylePagePromotion/fonts/font/Gilroy-Semibold.woff2") format("woff2"), url("../stylePagePromotion/fonts/font/Gilroy-Semibold.woff") format("woff");
}
.promotion-container {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.08);
}

.promotion-title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vh 0 11.3vh 0;
}

.promotion__title {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: rgb(46, 154, 219);
  padding-bottom: 1rem;
}

.promotion__text {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 500;
  color: rgb(147, 147, 147);
  text-align: center;
}

.promotion-formats-container {
  width: 90%;
  padding-bottom: 8.3vh;
  border-bottom: 1px dashed rgb(210, 210, 210);
}

.promotion-formats__title, .promotion-cases__title, .benefits__title {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  padding-bottom: 4.1vh;
  text-align: center;
}

.promotion-formats__title {
  padding-top: 10vh;
}

.promotion__item {
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.08);
}

.promotion-formats-container a {
  text-decoration: none;
}

.promotion__item p {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 700;
  color: rgb(147, 147, 147);
}

.promotion-cases-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.3vh 0;
  border-bottom: 1px dashed rgb(210, 210, 210);
}

.joom-case-block, .vpn-case-block, .loto-case-block, .ultima-case-block {
  text-align: center;
  margin: 2rem auto;
}

.case-logo-box {
  margin: 2vh auto 8.3vh;
}

.case-logo-box p {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 700;
  color: black;
  padding-top: 2vh;
}

.case__item h5 {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 500;
  color: rgb(147, 147, 147);
  padding-bottom: 2vh;
}

.case__item p:not(.case__item-blue) {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.case__item-blue {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 500;
  color: rgb(46, 154, 219);
}

.promotion-benefits-container {
  width: 90%;
}

.benefits__title {
  padding: 8.3vh 0;
}

.benefit__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.benefit__item img {
  margin: 0;
  padding: 0;
}

.benefit__item p {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 1.5vw;
  padding: 0;
}

.benefit__items {
  width: 90%;
  margin: 0 auto;
}

.promotion-btn {
  background: #FFFFFF;
  border: 4px solid #2E9ADB;
  border-radius: 40px;
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  color: rgb(46, 154, 219);
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 9vh auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .promotion-container {
    width: 80%;
  }
  .promotion-mobile-line {
    display: none;
  }
  .promotion-line {
    width: 80%;
  }
  .promotion-title-wrapper {
    width: 55%;
  }
  .promotion__title {
    font-size: 60px;
    line-height: 75px;
  }
  .promotion__text {
    font-size: 16px;
    line-height: 19px;
  }
  .promotion-formats__title, .promotion-cases__title, .benefits__title {
    font-size: 20px;
    line-height: 24px;
  }
  .promotion-formats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .promotion__item {
    width: 11.3vw;
    height: 24vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4.1vh 1.2vw;
  }
  .promotion__item p {
    font-size: 16px;
    line-height: 19px;
    padding-top: 2.7vh;
  }
  .promotion__third-item p {
    padding-top: 4vh;
  }
  .promotion__eighth-item img {
    padding-left: 1.6rem;
  }
  .joom-case__items, .loto-case__items, .vpn-case__items, .ultima-case__items {
    height: 27.7vh;
    width: 64.4vw;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.08);
  }
  .case__item:not(.case__third-item) {
    height: 27.7vh;
    width: 21.4vw;
    border-right: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .case__third-item {
    width: 21.4vw;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .case__third-item-exception {
    width: 21.4vw;
    margin-bottom: 0.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .case-logo-box p {
    font-size: 16px;
    line-height: 19px;
  }
  .case__item h5 {
    font-size: 16px;
    line-height: 19px;
  }
  .case__item p {
    font-size: 20px;
    line-height: 24px;
  }
  .case__item-blue {
    width: 80%;
  }
  .benefit__item p {
    font-size: 20px;
    line-height: 24px;
  }
  .promotion-btn {
    font-size: 20px;
    width: 350px;
    height: 80px;
  }
  .promotion-btn:hover {
    width: 360px;
    height: 90px;
    font-size: 21px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .promotion-formats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .promotion-line {
    width: 80%;
  }
  .promotion__item {
    width: 24vw;
    height: 17.3vh;
    margin: 2.3vh 3.2vw;
    padding: 3vh 8vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .promotion__second-item p {
    text-align: center;
  }
  .promotion__second-item img {
    max-width: 100%;
    padding-top: 3vh;
  }
  .joom-case__items, .loto-case__items, .vpn-case__items, .ultima-case__items {
    width: 100%;
    height: 240px;
    align-items: center;
    justify-content: center;
  }
  .case__item p {
    font-size: 16px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .promotion-line {
    width: 80%;
  }
  .promotion-mobile-line {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .promotion-line {
    display: none;
  }
  .promotion-mobile-line {
    max-width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .promotion-container {
    width: 85%;
  }
  .promotion-title-wrapper {
    width: 90%;
  }
  .promotion__title {
    font-size: 30px;
    line-height: 37px;
  }
  .promotion__text {
    font-size: 13px;
    line-height: 15px;
  }
  .promotion-formats__title, .promotion-cases__title, .benefits__title {
    font-size: 16px;
    line-height: 19px;
  }
  .promotion-formats__title {
    width: 90%;
  }
  .promotion-formats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .promotion__item {
    width: 24vw;
    height: 17.3vh;
    margin: 2.3vh 3.2vw;
    padding: 3vh 8vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .promotion__item img {
    max-width: 100%;
  }
  .promotion__item p {
    font-size: 13px;
    line-height: 15px;
    padding-top: 2vh;
  }
  .promotion__first-item img {
    max-width: 80%;
  }
  .promotion__second-item p {
    text-align: center;
  }
  .promotion__second-item img {
    max-width: 100%;
    padding-top: 3vh;
  }
  .promotion__third-item {
    padding: 3vh 4vw;
  }
  .promotion__third-item img {
    max-width: 100%;
    margin-bottom: 0.2vh;
  }
  .promotion__eighth-item img {
    margin-left: 2vw;
    width: 100%;
  }
  .joom-case__items, .loto-case__items, .vpn-case__items, .ultima-case__items {
    height: 52vh;
    width: 57vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.08);
  }
  .case__item {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4vh 0.4vw;
  }
  .case__item:not(.case__third-item, .case__third-item-exception) {
    border-bottom: 1px solid rgb(235, 235, 235);
  }
  .case__item-blue {
    width: 100%;
  }
  .case-logo-box p {
    font-size: 13px;
    line-height: 16px;
  }
  .case__item h5 {
    font-size: 13px;
    line-height: 15px;
  }
  .case__item p {
    font-size: 16px;
    line-height: 19px;
  }
  .benefit__item img {
    max-width: 10%;
    margin-right: 2vw;
  }
  .benefit__item p {
    font-size: 13px;
    line-height: 15.3px;
  }
  .promotion-btn {
    font-size: 16px;
    width: 256px;
    height: 60px;
    padding: 2.6vh auto;
  }
  .promotion-btn:hover {
    font-size: 18px;
    width: 265px;
    height: 70px;
  }
}
@media screen and (max-width: 360px) {
  .promotion-btn {
    font-size: 13px;
    width: 160px;
    height: 40px;
    padding: 2vh auto;
  }
}/*# sourceMappingURL=style.css.map */